*.iml
.gradle
/local.properties
/.idea/caches
/.idea/libraries
/.idea/modules.xml
/.idea/workspace.xml
/.idea/navEditor.xml
/.idea/assetWizardSettings.xml
.DS_Store
/build
/captures
.externalNativeBuild
.idea/*

# Latex related stuff
/doc/pdf/*.cls
/doc/pdf/*.aux
/doc/pdf/*.bbl
/doc/pdf/*.blg
/doc/pdf/*.fdb*
/doc/pdf/*.fls
/doc/pdf/*.log
/doc/pdf/*.pdf
/doc/pdf/*.synctex.gz
/doc/pdf/*.toc
